.game__container {
  display: grid;
  grid-template: repeat(3, auto) / 1fr;
  justify-items: center;
  grid-gap: 3vmin;
  width: 100%;
  height: calc(100vh - 2*var(--body-padding));
}

.game__output {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  row-gap: 1vmin;
}

.image {
  display: block;
  width: 80%;
  max-width: 35vh;
}

.word {
  margin: 0;
  padding: .2em .3em;
  border: solid .3vmin var(--base-color);
  font-family: monospace;
  font-size: 1.1em;
  letter-spacing: .12em;
}

.keyboard {
  align-self: end;
  width: 90vw;
}

@media screen and (orientation: landscape) {
  .game__container {
    grid-template: 50% 50% / 1fr 2fr;
    grid-gap: .3em;
  }

  .title {
    font-size: 2.5em;
  }

  .image {
    display: block;
    max-width: 30vh;
  }

  .keyboard {
    grid-column: 1 / 3;
  }
}

@media screen and (orientation: landscape) and (min-height: 22em) {
  .game__container {
    grid-template: auto auto / 1fr 2fr;
  }

  .title {
    font-size: 3em;
  }

  .image {
    max-width: 45vh;
  }
  .word {
    font-size: 1.2em;
  }
}

@media screen and (orientation: landscape) and (min-height: 35em) {
  .image {
    max-width: 60vh;
  }
}
